// Filename: _progress-bar.scss
// Description: Style for a progress bar with a pulsing animation

// Gradient transition used for pulsing effect
@mixin innerColor( $color: $neutral ) {
    background-color: transparentize( $color , 0.05 );
    background-image: linear-gradient(
    90deg,
    transparentize( lighten( $color, 4% ), 1 ) 10%,
    transparentize( lighten( $color, 8% ), 0.2 ) 30%,
    transparentize( lighten( $color, 12% ), 0 ) 70%,
    transparentize( lighten( $color, 8% ), 0.2 ) 80%,
    transparentize( lighten( $color, 4% ), 1 ) 90%
    ),
    linear-gradient(
    to right,
    transparentize( lighten( $color, 12% ), 1 ) 0%,
    transparentize( lighten( $color, 12% ), 0 ) 100%
    ),
    linear-gradient(
    to left,
    transparentize( lighten( $color, 12% ), 1 ) 0%,
    transparentize( lighten( $color, 12% ), 0 ) 100%
    );
    border-color: lighten( $color, 20% );
}

// Container for the progress bar
.ws-progress {
    @include rel('height', 30px);
    @include rel('margin', 15px 0px 5px 0px);
    @include border-radius(3px);

    // Progress text
    &-text {
        @include rel('width', 280px);
        @include rel('top', 7px);
        @include rel('left', 0px);

        position: absolute;

        @include rel('padding', 0px 16px);
        @include rel('font-size', 12px);

        em {
            font-style: normal;
        }
    }

    // Progress bar, the width starts at 0 but is increased as the file download progresses.
    &-bar {
        @include innerColor($success);
        @include border-radius(3px);

        position: relative;

        display: block;
        opacity: 1;
        width: 0;
        height: 100%;
        background-repeat: no-repeat, no-repeat, no-repeat;
        background-position: -20% center, right center, left center;
        @include rel('background-size', 100px 30px 130px 30px 130px 30px);

        color: $white;
        font-size: $smaller;
        font-weight: normal;
        text-shadow: 0 1px 1px rgba(0,0,0,0.6);

        animation: pulse 2s ease-out infinite;
        transition: opacity 0.2s ease,
        width 0.8s ease-out,
        background-color 1s ease,
        border-color 0.3s ease,
        box-shadow 1s ease;

        &:before,
        &:after {
            @include rel('top', -10px);
            @include rel('right', -1px);
            @include rel('width', 1px);
            @include rel('height', 40px);

            content: '';
            position: absolute;
        }

        &:before {
            @include rel('right', -4px);
            @include rel('width', 7px);

            background: radial-gradient(
            ellipse at center,
            rgba(255,255,255,0.4) 0%,
            rgba(255,255,255,0) 75%
            );
        }

        &:after {
            background: linear-gradient(
            to bottom,
            rgba(255,255,255,0) 0%,
            rgba(255,255,255,0.3) 25%,
            rgba(255,255,255,0.3) 75%,
            rgba(255,255,255,0) 100%
            );
        }
    }
}

@keyframes pulse {
    0% {
        background-position: -50% center, right center, left center;
    }

    100% {
        background-position: 150% center, right center, left center;
    }
}
