<div data-id="commonDialog" class="ws-modal-container">
	<div id="dialogModal" class="ws-dialog">
		<div data-id="header" class="ws-header"></div>
		<div id="ajaxProgress" class="ws-progress ws-hidden">
			<div class="ws-spinner">
				<div class="ws-spinner-dot-1"></div>
				<div class="ws-spinner-dot-2"></div>
			</div>
		</div>
		<div data-id="content" class="ws-dialog-content"></div>
	</div>
</div>
